body {
  padding: 100px;
}

.block {
  display: block;
  @include box-shadow( 0 0 10px #a82f34);
}

//ここはbox01〜03にスタイルを指定しているよ！
@for $i from 1 through 3 {
  .box0#{$i} {
    float: left;
    padding: 10px;
    @if $i == 2 {
      border: 1px solid #111; /* borderだよ */
    }
  }
}

.box01 {
  @include box_width(100px);
  background-color: $main_color;
}

.box02,
.box03 {
  @include box_width(200px);
  background-color: $sub1_color;
}